<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{baseurl}}/css/minimalbootstrap.css">
  <script type="text/javascript" src="{{baseurl}}/js/minimalbootstrap.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/flag-icons/css/flag-icon.min.css">
</head>
