<script type="text/javascript">
  (function() {
    var deferredLanguages = $.get('{{baseurl}}/data/languages.json');
    var deferredVersions = $.get('{{baseurl}}/data/versions.json');

    $.when(deferredLanguages, deferredVersions).done(function () {
      var languages = deferredLanguages.responseJSON;
      var versions = deferredVersions.responseJSON;

      // Build version and language selector
      var $languagePickerContainer = $('#language-picker');

      var $languagePicker = $('<select class="languagepicker" data-live-search="true"></select>');
      $option = $('<option value="all">All</option>');
      $languagePicker.append($option);

      $.each(languages, function (ietf, language) {
        $option = $('<option value="' + ietf + '">' + language.nameEnglish + '</option>');
        $languagePicker.append($option);
      });
      $languagePickerContainer.prepend($languagePicker);

      var $versionPicker = $('<select class="versionpicker" data-live-search="true"></select>');
      $.each(versions, function (index, version) {
        $option = $('<option value="' + version + '">' + version + '</option>');
        $versionPicker.append($option);
      });
      $languagePickerContainer.prepend($versionPicker);

      $versionPicker.selectpicker({
        style: 'btn-default',
        size: 10
      }).change(pickLanguage);

      $languagePicker.selectpicker({
        style: 'btn-default',
        size: 10
      }).change(pickLanguage);

      function pickLanguage() {
		var $languageList = $('#language-list');
        $languageList.empty();
        var selectedLanguage = $languagePicker.val();
        var selectedVersion = $versionPicker.val();

        $.each(languages, function(ietf, language) {
          if (selectedLanguage && selectedLanguage !== 'all' && ietf !== selectedLanguage) {
            return;
          }

          var $media = $('<div class="media"></div>');
          var $link = $('<a href="{{baseurl}}/packs/' + selectedVersion + '/' + language.isoTwo + '.gzip"></a>');
          $link.append('<div class="media-left"><span class="flag-icon flag-icon-' + language.flag + '"></span></div>');
          $link.append('<div class="media-left">' + language.nameEnglish + (language.nameExtra ? ' (' + language.nameExtra + ')' : '') + '</div>');

          $media.append($link);
          $languageList.append($media);
        });
	  }

	  pickLanguage();
    });
  })();
</script>

<div id="language-picker" class="language-picker">
	<div id="language-list"></div>
</div>
